# Compiled files
*.pyc
__pycache__/
.csv
.xlsx


# Terraform
.terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock*
deployment/environments/ci-deployment/*.tfvars


# Ansible
deployment/ansible/roles/azavea.*
*.retry


# JS
node_modules/
npm-debug.log
bundle.js
vendor.bundle.js
bundle.js.map
dist/
build/
coverage/
yarn-error.log


# Django App
src/django/static
src/django/coverage

# Dedupe Hub
src/dedupe-hub/api/coverage

## Test artifacts
src/django/*.csv
src/django/*.xlsx


# macOS
.DS_Store


# VSCode
.vscode/*
!.vscode/example-settings.json

# PyCharm
.idea/

# OS Hub
.env
factories.csv
*_factories.csv
research/dedupe/data
research/dedupe/dedupe/facilities_learned_settings
research/dedupe/dedupe/facilities_output.csv
research/dedupe/dedupe/facility_list_items.csv
research/dedupe/dedupe/facilities_training.json
research/dedupe/dedupe/facilities_deduped.csv
research/rubota/rubota_facilities.csv
research/dedupe/gazetteer/gazetteer_learned_settings
research/dedupe/gazetteer/gazetteer_messy.csv
research/dedupe/gazetteer/gazetteer_messy_pass_2.csv
research/dedupe/gazetteer/gazetteer_output.csv
research/dedupe/gazetteer/gazetteer_pass_2_output.csv
research/dedupe/gazetteer/gazetteer_training.json
tools/endpoint_comp/facility_ids/*
tools/endpoint_comp/reports/*


# Lambda
# deployment/terraform/lambda-functions/**/*.zip
deployment/terraform/lambda-functions/**/*.out
deployment/terraform/lambda-functions/**/src/*
!deployment/terraform/lambda-functions/alert_batch_failures/src/alert_batch_failures.py
!deployment/terraform/lambda-functions/alert_sfn_failures/src/alert_sfn_failures.py


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
db.dump
latest_prod.dump
dumps


# Backup and temporary files
*.~
*.bak


# Cursor
.cursor-rules
.cursor-test-conventions.md
.cursor
